@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="headPanel">
    <div class="leftHeadPanel">
        <button type="button" class="btn btn-primary" >返回</button>
    </div>
    <div class="righHeadPanel">
        
    </div>
</div>
<div class="leftPanel"></div>
<div class="rightPanel"></div>