<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
   <connectionStrings>
     <add name="EntityContext" connectionString="Data Source=localhost;port=3306;Initial Catalog=hand_work;user id=root;password=123456;CharSet=utf8" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

</configuration>
