<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->

    <link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/index.css" />
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="~/Content/js/jquery-2.2.2.min.js"></script>
    @*<script src="~/Content/js/jquery.mobile-1.4.5.min.js"></script>*@

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="~/Content/js/bootstrap.min.js"> </script>
    <script src="~/Content/js/rightmeun.js"></script>
</head>
<body>

    @*导航条*@
    <nav class="navbar  navbar-default NavBackground">         
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">Brand</a>
                <span class="navbar-brand">打手平台后台管理系统</span>
            </div>

                <ul class="nav navbar-nav navMap">
                    <li><a href="#">主页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">用户审核</a></li>
                            <li><a href="~/Relationships/relationship/index">申请处理</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">财务报表 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">总金额</a></li>
                            <li><a href="#">我不知道</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">你好 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">你好</a></li>
                            <li><a href="#">你好</a></li>
                        </ul>
                    </li>
                </ul>
         
        </div><!-- /.container-fluid -->
    </nav>
    <div class="leftPanel Panel-Left">
        <div class="list">
            <ul class="yiji">
                <li><a href="#">首页</a></li>
                <li>
                    <a href="#" class="inactive">资金管理&nbsp; &nbsp; &nbsp; <span class="" aria-hidden="true"></span></a>
                    <ul style="display: none">
                        <li class="last">
                            <a href="#" >商户保证金</a>
                            @*<ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>*@
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="inactive Last-border-bottom">发布管理</a>
                    <ul style="display: none">
                        <li class="last">
                            <a href="#">发布修改</a>
                            @*<ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>*@
                        </li>
                        <li class="last">
                            <a href="#">发布认证</a>
                            @*<ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>*@
                        </li>
                    </ul>

                </li>
             
                <li>
                    <a href="#" class="inactive">用户管理&nbsp; &nbsp; &nbsp; <span class="" aria-hidden="true"></span></a>
                    <ul style="display: none">
                        <li class="last">
                            <a href="#">用户信息</a>
                        </li>
                        <li class="last"><a href="#">用户权限</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="inactive">图标管理&nbsp; &nbsp; &nbsp; <span class="" aria-hidden="true"></span></a>
                    <ul style="display: none">
                        <li>
                            <a href="#" class="inactive active">首页图标</a>
                            <ul>
                                <li><a href="#">首行图标</a></li>
                                <li><a href="#">尾行图标</a></li>
                            </ul>
                        </li>
                        <li class="last"><a href="#">个人中心图标</a></li>
                    </ul>
                </li>
            </ul>
        </div> 
    </div>

    <div class="rightPanel">
        @RenderBody()
    </div>

</body>
</html>
