@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link href="~/Content/css/Detail.css" rel="stylesheet" />
<div class="jobInfo">
    <div class="title">急招传单派送员</div>
    <ul class="inportantInfo"><li>工资：80/天</li> <li>地点：南亚风情第一城</li></ul>
    <div class="infoFoott"><span></span></div>
</div>
<div class="publishborder">
    @*<div class="col-xs-12 liborder">
            <ul class="list-unstyled ">
                <li class="imageCenter">
                </li>

                <li class="imageCenter">

                    <label class="fontcolortitle ">联系人：</label>
                    <label >陈先生</label>
                </li>


            </ul>

        </div>*@

    <ul class="list-unstyled col-xs-8">
        <li>
            发布者：万涛涛
        </li>
        <li>
            结算方式：日结
        </li>
        <li>
            兼职内容：发传单
        </li>
        <li>需要人数：5人</li>
        <li>发布日期：2014-12-05</li>

    </ul>
    <ul class="col-xs-4 getJobRight">

       <li><button class="btn btn-primary checkThisBtn">立即<br />申请</button></li> 
    </ul>
</div>
<div class="jobDetail">
    <div class="list-unstyled workpadding">
        <div>
            <p class="fontblack a  "><label><strong>工作详情</strong></label></p>
        </div>
        <div>
            <label for="work" class="fontblack">
                在学校附近就近安排，需要穿着工作服，由公司提供，同时有督导员进行指导，在指定地点分发传单
                按时上班，传单传发结束就可以结束一天工作，由督导员发工资         在学校附近就近安排，需要穿着工作服，由公司提供，同时有督导员进行指导，在指定地点分发传单
                按时上班，传单传发结束就可以结束一天工作，由督导员发工资         在学校附近就近安排，需要穿着工作服，由公司提供，同时有督导员进行指导，在指定地点分发传单
                按时上班，传单传发结束就可以结束一天工作，由督导员发工资         在学校附近就近安排，需要穿着工作服，由公司提供，同时有督导员进行指导，在指定地点分发传单
                按时上班，传单传发结束就可以结束一天工作，由督导员发工资         在学校附近就近安排，需要穿着工作服，由公司提供，同时有督导员进行指导，在指定地点分发传单
                按时上班，传单传发结束就可以结束一天工作，由督导员发工资         在学校附近就近安排，需要穿着工作服，由公司提供，同时有督导员进行指导，在指定地点分发传单
                按时上班，传单传发结束就可以结束一天工作，由督导员发工资         在学校附近就近安排，需要穿着工作服，由公司提供，同时有督导员进行指导，在指定地点分发传单
                按时上班，传单传发结束就可以结束一天工作，由督导员发工资

            </label>
        </div>
      

    </div>
    <div class="otherInfo">
        <div>
            <p class="fontblack a  "><label><strong>工作日期</strong></label></p>
        </div>
        <div>
            <label for="work" class="fontblack">
               周末

            </label>
        </div>
    </div>
    <div class="otherInfo">
        <div>
            <p class="fontblack a  "><label><strong>工作时间</strong></label></p>
        </div>
        <div>
            <label for="work" class="fontblack">
                9:00-18:00
            </label>
        </div>

    </div>
    <div class="otherInfo">
        <div>
            <p class="fontblack a  "><label><strong>工作要求</strong></label></p>
        </div>
        <div>
            <label for="work" class="fontblack">
                男女不限，能吃苦耐劳，能只干活不要工资

            </label>
        </div>

    </div>


    <div class="navborder">


        <div class="col-xs-6 bottomnav bordermoddile">客服</div>
        <div class="col-xs-6 bottomnav">申请</div>

    </div>
    <div class="slide"></div>
</div>



