@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link href="~/Content/css/Detail.css" rel="stylesheet" />
<h2><strong>急招传单派送员</strong></h2>
<div class="publishborder ">
    <div class="col-xs-6 liborder ">
        <ul class="list-unstyled ">
            <li class="imageCenter">
                <img src="~/Content/image/22-090423_51.jpg" class="publishperson" />
            </li>

            <li class="imageCenter">
                <label class="titlefontcolor">联系人：</label>
                <label for="person">陈先生</label>
            </li>


        </ul>

    </div>

    <div class="col-xs-6 ">
        <ul class="list-unstyled ">
            <li>
                <label for="people" class="titlefontcolor">发&nbsp;&nbsp;布&nbsp;人：</label>
                <label for="people">麒</label>
            </li>
            <li>
                <label class="titlefontcolor">工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资 ：</label>
                <label for="wages">90/天</label>
            </li>
            <li>
                <label class="titlefontcolor">所需人数：</label>
                <label for="personnumber">5人</label>
            </li>
            <li>
                <label class="titlefontcolor">结算方式：</label>
                <label for="closeaccount">日结</label>
            </li>
            <li>
                <label class="titlefontcolor">兼职方式：</label>
                <label for="part-time">发传单</label>
            </li>

        </ul>
    </div>
</div>
    <div>
        <ul class="list-unstyled workpadding">
            <li>
                <p class="fontcolor" ><label>工作内容</label></p>
                <label for="work">
                    在学校附近就近安排，需要穿着工作服，由公司提供，同时有督导员进行指导，在指定地点分发传单
                    按时上班，传单传发结束就可以结束一天工作，由督导员发工资
                    在学校附近就近安排，需要穿着工作服，由公司提供，同时有督导员进行指导，在指定地点分发传单
                    按时上班，传单传发结束就可以结束一天工作，由督导员发工资
                </label>
            </li>
            <li>
                <label class="titlefontcolor">工作时间：</label>
                <label for="worktime">2016-04-15—2016-05-05</label>
            </li>
            <li>
                <label class="titlefontcolor">工作时段：</label>
                <label for="worktimer">早9:00-11:00</label>
            </li>
            <li>
                <label class="titlefontcolor">工作地点：</label>
                <label for="worktime">学校就近</label>
            </li>
        </ul>
    </div>
<div class="navborder">
    
       
    <div class="col-xs-6 bottomnav bordermoddile">客服</div>
    <div class="col-xs-6 bottomnav">申请</div>
    
            </div>
        

