body {

    color:#000000!important;
    font-family:microsoft yahei,arial,verdana,helvetica,sans-serif;
}
ul {
    padding-left:0!important;
    margin-bottom:0!important;
    
    }
.jobInfo {
    padding:5px 15px;
}
.jobInfo .title {
    font: bold 17px/2em microsoft yahei,arial,verdana,helvetica,sans-serif;


}
    .jobInfo .inportantInfo {
    color:red;
    list-style-type:none;
    display:table;
    width:100%;
    padding-left:0!important;
    padding-bottom:0!important;

    }
        .jobInfo .inportantInfo li {
        float:left;
        padding-right:20px;
        }


.publishperson {
   border-radius:22%;

    height:80px;
    width:80px;
    text-align : center ;
}
.getJobRight {
text-align:center;
height:60px;

display:table;
}
    .getJobRight li {
    margin-top:21px;
    }
.publishborder {
  
    padding:5px 15px;
    display:table;
    width:100%;
    border-top:1px solid #ccc!important;
 
}
    .publishborder ul {
    padding-left:0!important;
    margin-bottom:0!important;
    
    }
        .publishborder ul li{
list-style-type:none;
    
    }
.liborder {

    padding-left:0px;
    padding-right :0px;
    border-right :1px solid #CCCCFF;
    width:150px;
    height:135px;
    color:#000000;
}
.imageCenter {
   text-align :center;
   padding-top:8px;
}

.workpadding {
    padding:5px 15px;
    border-top:3px solid #CCC;
   color:#000000; 
}
.jobDetail {
}
.bottomnav {
    text-align:center ;
    padding-bottom  :5px;
    padding-top :6px;
}
.bordermoddile {
    border-right :1px solid #CCCCFF;
   
}
.navborder {
    background :#920078;
    right:0;
    left:0;
    color:white;
    font-size:17px;
    border-bottom :1px solid  #cccccc;
    border-top:1px solid  #cccccc; 
    position: fixed ;
    bottom :0px;
    margin-top :5px;
     z-index:0;

}
.fontsize {
   text-align :left ;
}
h2{
    
    color:black;
    font-weight:800;
    text-align:center;
    margin-top :10px;
}
.fontcolor {
     color:#CC6633;
     border-bottom :1px solid  #CCCCFF;
}
.titlefontcolor {
   /*color:#3366CC;*/
}

.otherInfo {
padding:5px 15px;
border-top:1px solid #ccc;
}
label {
    font-weight:normal ;
}

.fontcolortitle {
    font-weight:600 ;
  
}
.messagesize {
    font-family:FangSong  ;
    color:#3366CC;
   font-weight:700 ;
   font-size :16px;
}
