body {
    padding:8px;
    margin-bottom:8px;

}
html {
    height:100%;
}

.Add-Background {
    background-color:#000;
    background-size:cover;
    background-position:50% 50%;
    text-align:center;
    color:white;
    height:100%;
    width:100%;
    background-image:url(../image/firm.png)
   
}
.White-Background-fixed {
    position:fixed;
    top:38%;
    right:10%;
    height:250px;
    width:430px;
   
    /*opacity:0.7;*/
     background-color: rgba(128, 128, 128,0.3);
    border-radius:10px;
}
.Title-login {
    padding:6px 12px;
    font-size:25px;
    color:white;
    background:#337ab7;
   border-top-left-radius:10px;
   border-top-right-radius:10px;
}
.Margin-Login {
  font-size:25px;
  padding:10px;
  margin-top:10px;
}
label {
    color:black;
    margin-bottom:0px;
}
.form-group {
    height:40px;
}
.input-height {
    border:1px solid black;
    height:40px;
}
.Button-WidthHeight {
    width:370px;
    height:40px;
    font-size:20px;
}
.Padding-A {
    margin-top:35px;
}