.leftPanel {
    width: 20%;
    display: table;
    min-height: 800px;
    border-right: 1px solid #ccc;
    float: left;
 
}
/*模板页样式*/
.NavBackground {
    background:#336699;

}
.navbar-default .navbar-nav > li > a {
    color:#ffffff;
}
.navbar-default .navbar-brand {
    color:#ffffff;
}
.navbar-default .navbar-nav > .open > a {
    /*background-image: linear-gradient(to bottom,#cccccc 0,#ccccccc 100%);*/
    color:white;
}
.dropdown-menu {
    background:#e7e7e7;

}
/*颜色*/
.leftPanel ,leftHeadPanel{

}

.rightPanel ,rightHeadPanel{

}
/*颜色结束*/
.rightPanel {
    width: 80%;
    float: left;
    display: table;
    min-height: 800px;
}

.navMap {
    margin-left: 120px;
}
.headPanel {
display:table;
width:100%;

}
.leftHeadPanel,.rightHeadPanel{
height:30px;
}
.leftHeadPanel {
    text-align:center;
    width: 20%;
    float:left;

}
.rightHeadPanel {
        width: 80%;
            float:left;

}
/*button 样式*/
.ButtonRadio {
    border-radius:20px;
    height:23px;
}
.btn {
    padding:0px 12px;
}
/*table 样式*/
.table-striped>tbody>tr:nth-of-type(odd) { 
    background:#2baecc;
    font-size:16px;
  
    color:#ffffff;

}