body {

    color:#000000!important;
}
.publishperson {
   border-radius:22%;

    height:80px;
    width:80px;
    text-align : center ;
}

.publishborder {
  
    padding-top:8px ;
    padding-right:1px ;
    padding-left:1px ;
    display:table;
    width:100%;
    border-top:3px solid #CCCCFF!important;
 
}
.liborder {

    padding-left:0px;
    padding-right :0px;
    border-right :1px solid #CCCCFF;
    width:150px;
    height:135px;
    color:#000000;
}
.b {
    margin-bottom :5px;
    border-bottom :3px solid #CCCCFF;
     border-radius:10px;

}
.imageCenter {
   text-align :center;
   padding-top:8px;
}

.workpadding {
      border-radius:10px;
    padding-top :8px;
    border-top:3px solid #CCCCFF;
    padding-bottom:8px;
   color:#000000; 
}
.bottomnav {
    text-align :center ;
    padding-bottom  :5px;
    padding-top :6px;
      border-radius:10px;
}
.bordermoddile {
    border-right :1px solid #CCCCFF;
   
}
.navborder {
    background :#336699;
    font-size:20px;
    color:#cccccc;
    height:40px;
    width:100%;
    border-bottom :1px solid  #cccccc;
    border-top:1px solid  #cccccc; 
    position: fixed ;
    bottom :0px;
     border-radius:10px;
     border-bottom-right-radius :0px;
     border-bottom-left-radius :0px;
     opacity:0.8;
     margin-top :5px;
     z-index:0;

}
.fontsize {
   text-align :left ;
}
h2 {
    
    color:#CC3300;
    text-align:center ;
    margin-top :10px;
}
.fontcolor {
     color:#CC6633;
     border-bottom :1px solid  #CCCCFF;
}
.titlefontcolor {
   /*color:#3366CC;*/
}

.a {
    border-bottom :1px solid #cccccc;
    color:#CC6633;
   
}
label {
    font-weight:normal ;
}
.worktime {
     border-top:2px solid #cccccc;
  
     padding-top :5px;
     border-top-left-radius :10px;
      border-top-right-radius :10px;
 color:#CC6633;
     width:100%;

}
.worktimer {
     border-top:1px solid #cccccc;
    

}
.worktimertop{
     border-top:2px solid #cccccc;
     color:#CC6633;
     
}
.size {
    font-weight:600 ;
}
.worktimeend {
       border-bottom:3px  solid  #CCCCFF;
         border-radius:10px;
}
.fontcolortitle {
    font-weight:600 ;
  
}
.messagesize {
    font-family:FangSong  ;
    color:#3366CC;
   font-weight:700 ;
   font-size :16px;
}
