
.navbar {
    margin-bottom:0px;
    border:none!important;
    border-radius:0px!important;
}

.navbar span img{

    height:45px;
    width:45px;
    border-radius:50%;
    padding-left :5px;
    padding-top :5px;
    padding-right:5px;
    padding-bottom :5px;
}
.nabarcolor {
    background-color :#336699;
}
.floatRight {
        padding-right :5px;
    float:right;
    position:relative;

}
.dropdown-menu{
    right:0px;
    min-width:95px;
    left:auto!important;
}
.carousel {
    height: 150px;
    background-color :#CCFFFF;
}
.carousel .item{
    height: 150px;
    background-color :#CCFFFF;
}
.carousel  img{

    width:100%;

}
.notView {

}
.image {
    height:45px;
    width:45px;
}
.container {
    padding:5px;
    

}
.floatCenter {
    text-align:center;
    padding:6px;
}
.kindBoder {
    padding-top:4px ;
    border-bottom:1px solid #cccccc;
    border-top:4px solid #cccccc;
    display:table;
        width:100%;

}
.kindsborderDiv {
    border-bottom:1px solid #cccccc;
    display:table;
    width:100%;
}
.image2{
    width:75px;
    height :75px;
    border-radius:10px;

}

.userInfoBlock{
    height:50px;
    color:white;
    padding:5px;
    line-height:2.5;
}
.userInfoBlock:hover {


}
.oclockimage {
    height:17px;
    width:17px;
    float:right ;
   position:relative ;
   bottom:-4px;

}
.oclockfont {
    color :#999999;
    font-size:12px;
    float:right;
    margin :4px;
    
}
.label-info {
    float:left ;
    margin :4px;
}
h4 {
  text-align:left ;
}
