
.navbar {
    margin-bottom:0px;
    border:none!important;
    border-radius:0px!important;
    height:50px;
}

.navbar span img{

    height:45px;
    width:45px;
    border-radius:50%;
    padding-left :5px;
    padding-top :5px;
    padding-right:5px;
    padding-bottom :5px;
}
.nabarcolor {
    background-color :#920078;
}
.floatRight {
    padding-right :5px;
    float:right;
    position:relative;

}
.dropdown-menu{
    right:0px;
    min-width:95px;
    left:auto!important;
}
.carousel {
    height: 150px;
    background-color :#CCFFFF;
}
.carousel .item{
    height: 150px;
    background-color :#CCFFFF;
}
.carousel  img{

    width:100%;

}
.notView {

}
.image {
    height:35px;
    width:35px;
}
.imagecompy {
    height:75px;
    width:75px;
}
.container {
    padding:5px;
    

}
.floatCenter {
    text-align:center;
   
}
.kindBoder {
    padding-top:4px ;
    border-bottom:1px solid #cccccc;
    border-top:4px solid #cccccc;
    display:table;
        width:100%;

}
.bordertop {
    padding:3px;
   
    width:100%;
}
.classify {
   text-align:center;
   margin-bottom:0px;
   padding-top:10px;
    border-bottom:2px solid #cccccc;
  
}
.Classifya {

   font-size:26px;
   color:#DE905B;
}
.kindsborderDiv {
    border-bottom:1px solid #cccccc;
    display:table;
    width:100%;
}
.image2{
    
    text-align:center;
    width:43px;
    height: 43px;

    border-radius:10px;
    margin-top:0px;
    margin-bottom:0px;
 

}

.userInfoBlock{
    height:50px;
    color:white;
    padding:5px;
    line-height:2.5;
}
.userInfoBlock:hover {


}
.checkThisBtn {

background-image:linear-gradient(to bottom,#920078 0,rgba(177, 120, 86, 0.98) 100%);
}
.oclockimage {
    height:17px;
    width:17px;
    float:right ;
   position:relative ;
   bottom:-4px;

}
.oclockfont {
    color :#999999;
    font-size:12px;
    float:right;
    margin :4px;
    
}
.label-info {
    float:left ;
    margin :4px;
}
h5 {
  text-align:left ;
  font-weight:300;

  margin-bottom:0px;
     margin-top:4px!important;
}

.slide {

    width:100%;
    height:40px;
}
.companya {
    border-top:1px solid #cccccc;
    border-right:1px solid #cccccc;
     padding:6px;
}
.companyb {
    border-right:1px solid #cccccc;
     padding:6px;
}
.companyc {
    /*border-right:1px solid #cccccc;
    height:100%;*/
    padding:8px;
    
}
.pngStyle {
    height:10px;
    width:10px;
}
.fontStylea {
    font-size:13px;
}
.Centerimage {
    padding:4px;
}
.label {
    font-size:5%;
    font-weight:300;
}
.label-info {
    background:#DE905B;
}
.labela {
    position:relative;
    bottom:-11px;
}
.labelb {
    position:relative;
    bottom:-14px;
}