
.navbar {
    margin-bottom:0px;
}

.navbar span img{

    height:45px;
    width:45px;
    border-radius:50px;
    padding-left :5px;
    padding-top :5px;
    padding-bottom :5px;
}
.nabarcolor {
    background-color :#336699;
}
.floatRight {
        padding-right :5px;
    float:right;
    position:relative;

}
.dropdown-menu{
    left:-18px;
    min-width:0px;
}
.carousel {
    height: 150px;
    background-color :#CCFFFF;
}
.carousel .item{
    height: 150px;
    background-color :#CCFFFF;
}
.carousel  img{

    width:100%;

}
.notView {

}
.image {
    height:45px;
    width:45px;
}
.container {
    padding:5px;
    

}
.floatCenter {
    text-align:center;
}
.kindBoder {
    padding-top:4px ;
    border-bottom:1px solid #cccccc;
      border-top:4px solid #cccccc;
    display:table;
        width:100%;

}
.kindsborderDiv {
    border-bottom:1px solid #cccccc;
    display:table;
    width:100%;
}
.image2{
    width:100%;
    height :100px;
    border-radius:10px;

}
.navbar {
border:none!important;
}
.userInfoBlock{
    height:50px;
    color:white;
    padding:5px;
    line-height:2.5;
}
.userInfoBlock:hover {


}
