body {
}
.remarke {
    width:100%;
    border-color: #CCC;
    border-radius:5px;
}
.adjust {
 padding:5px 15px;
}
.Float-Png {
    height:45px;
    width:45px;
    position:fixed;
    bottom:55px;
    right:0px;
    opacity:0.6;
}
