body {
}
.remarke {
    width:100%;
    border-color: #CCC;
    border-radius:5px;
    
}
.btn-primary {
    background:#920078;
}
.checkPhoneBtn:hover ,.checkPhoneBtn:focus{
   background:#920078;
}
.adjust {
 padding:5px 15px;
}
.Float-Png {
    z-index:3;
    height:45px;
    width:45px;
    position:fixed;
    bottom:55px;
    right:0px;
    opacity:0.6;
}
.checkPhoneBtn {
    background:#920078;
}
