@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutIndex.cshtml";
}

    <div class="kindBoder">
        <div class="col-xs-4 floatCenter companyc ">
            <img src="~/Content/image/shop.png" class="imagecompy" />
            
        </div>

        <div class="col-xs-2 floatCenter companyb ">
       
            <img src="~/Content/image/manxiuleidun.png" class="image" />
        </div>
        <div class="col-xs-2 floatCenter companyb ">
            
            <img src="~/Content/image/hengdashiwu.jpg" class="image" />
        </div>
        <div class="col-xs-2 floatCenter companyb ">
           
            <img src="~/Content/image/hengdaa.png" class="image" />
        </div>
        <div class="col-xs-2 floatCenter companyb   ">
            <img src="~/Content/image/shanfbiao.png" class="image" />

        </div>
        <div class="col-xs-2 floatCenter companya ">
           
            <img src="~/Content/image/hpp.png" class="image" />
        </div>
        <div class="col-xs-2 floatCenter companya ">
           
            <img src="~/Content/image/lskf.png" class="image" />
        </div>
        <div class="col-xs-2 floatCenter companya ">
        
            <img src="~/Content/image/nfsq.png" class="image" />
        </div>
        <div class="col-xs-2 floatCenter companya ">
           
            <img src="~/Content/image/ww.png" class="image" />
        </div>
    </div>


<div>
    <ul class="col-xs-3 list-unstyled classify ">
        <li value="0"><span class="glyphicon glyphicon-time Classifya" aria-hidden="true"></span><p class="fontStylea">日结</p></li>
    </ul>
    <ul class="col-xs-3 list-unstyled classify">
        <li value="1"><span class="glyphicon glyphicon-list-alt Classifya" aria-hidden="true"></span><p class="fontStylea">周结</p></li>
    </ul>
    <ul class="col-xs-3 list-unstyled classify">
        <li value="2"><span class="glyphicon glyphicon-sound-5-1 Classifya" aria-hidden="true"></span><p class="fontStylea">月结</p></li>
    </ul>
    <ul class="col-xs-3 list-unstyled classify">
        <li value="3"><span class="glyphicon glyphicon-th-large Classifya" aria-hidden="true"></span><p class="fontStylea">其他</p></li>
    </ul>

</div>
<div>
    <img src="~/Content/image/home.png" class="Float-Png" />
</div>
<div class="jobList">


</div>
<div class="dropload-down clickMore">点击加载更多</div>
<script src="~/Content/js/jobList.js"></script>