@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutIndex.cshtml";
}

    <div class="kindBoder">
        <div class="col-xs-4 floatCenter companyc ">
            <img src="~/Content/image/shop.png" class="imagecompy" />
            
        </div>

        <div class="col-xs-2 floatCenter companyb ">
       
            <img src="~/Content/image/manxiuleidun.png" class="image" />
        </div>
        <div class="col-xs-2 floatCenter companyb ">
            
            <img src="~/Content/image/hengdashiwu.jpg" class="image" />
        </div>
        <div class="col-xs-2 floatCenter companyb ">
           
            <img src="~/Content/image/hengdaa.png" class="image" />
        </div>
        <div class="col-xs-2 floatCenter companyb   ">
            <img src="~/Content/image/shanfbiao.png" class="image" />

        </div>
        <div class="col-xs-2 floatCenter companya ">
           
            <img src="~/Content/image/hpp.png" class="image" />
        </div>
        <div class="col-xs-2 floatCenter companya ">
           
            <img src="~/Content/image/lskf.png" class="image" />
        </div>
        <div class="col-xs-2 floatCenter companya ">
        
            <img src="~/Content/image/nfsq.png" class="image" />
        </div>
        <div class="col-xs-2 floatCenter companya ">
           
            <img src="~/Content/image/ww.png" class="image" />
        </div>
    </div>


<div>
    <ul class="col-xs-3 list-unstyled classify ">
        <li><span class="glyphicon glyphicon-time Classifya" aria-hidden="true"></span><p class="fontStylea">日结</p></li>
    </ul>
    <ul class="col-xs-3 list-unstyled classify">
        <li><span class="glyphicon glyphicon-list-alt Classifya" aria-hidden="true"></span><p class="fontStylea">周结</p></li>
    </ul>
    <ul class="col-xs-3 list-unstyled classify">
        <li><span class="glyphicon glyphicon-sound-5-1 Classifya" aria-hidden="true"></span><p class="fontStylea">月结</p></li>
    </ul>
    <ul class="col-xs-3 list-unstyled classify">
        <li><span class="glyphicon glyphicon-th-large Classifya" aria-hidden="true"></span><p class="fontStylea">其他</p></li>
    </ul>

</div>
<div class="kindsborderDiv  bordertop">
    <div class="col-xs-2 floatCenter Centerimage">
        <img src="~/Content/image/22-090423_51.jpg" class="image2 " />
    </div>
    <div class="col-xs-10  floatCenter  ">

        <h5>急招一个发传单的同学周末兼职急招</h5>

        <span class="label label-info labela ">日结</span>

        <span class="label label-info labela ">发传单</span>
        <span class="label label-info labela ">男生</span>

        <div>
            <span class="oclockfont labela ">三天前</span>
            <span><img src="~/Content/image/o'clock.png" class="oclockimage labelb  " /></span>
        </div>

    </div>
    <div>
    </div>
</div>
<div class="kindsborderDiv  bordertop">
    <div class="col-xs-2 floatCenter Centerimage">
        <img src="~/Content/image/22-090423_51.jpg" class="image2 " />
    </div>
    <div class="col-xs-10  floatCenter  ">

        <h5>急招一个发传单的同学周末兼职急招</h5>

        <span class="label label-info labela ">日结</span>

        <span class="label label-info labela ">发传单</span>
        <span class="label label-info labela ">男生</span>

        <div>
            <span class="oclockfont labela ">三天前</span>
            <span><img src="~/Content/image/o'clock.png" class="oclockimage labelb  " /></span>
        </div>

    </div>
    <div>
    </div>
</div>
<div class="kindsborderDiv  bordertop">
    <div class="col-xs-2 floatCenter Centerimage">
        <img src="~/Content/image/22-090423_51.jpg" class="image2 " />
    </div>
    <div class="col-xs-10  floatCenter  ">

        <h5>急招一个发传单的同学周末兼职急招</h5>

        <span class="label label-info labela ">日结</span>

        <span class="label label-info labela ">发传单</span>
        <span class="label label-info labela ">男生</span>

        <div>
            <span class="oclockfont labela ">三天前</span>
            <span><img src="~/Content/image/o'clock.png" class="oclockimage labelb  " /></span>
        </div>

    </div>
    <div>
    </div>
</div>
<div class="kindsborderDiv  bordertop">
    <div class="col-xs-2 floatCenter Centerimage">
        <img src="~/Content/image/22-090423_51.jpg" class="image2 " />
    </div>
    <div class="col-xs-10  floatCenter  ">

        <h5>急招一个发传单的同学周末兼职急招</h5>

        <span class="label label-info labela ">日结</span>

        <span class="label label-info labela ">发传单</span>
        <span class="label label-info labela ">男生</span>

        <div>
            <span class="oclockfont labela ">三天前</span>
            <span><img src="~/Content/image/o'clock.png" class="oclockimage labelb  " /></span>
        </div>

    </div>
    <div>
    </div>
</div>
<div class="kindsborderDiv  bordertop">
    <div class="col-xs-2 floatCenter Centerimage">
        <img src="~/Content/image/22-090423_51.jpg" class="image2 " />
    </div>
    <div class="col-xs-10  floatCenter  ">

        <h5>急招一个发传单的同学周末兼职急招</h5>

        <span class="label label-info labela ">日结</span>

        <span class="label label-info labela ">发传单</span>
        <span class="label label-info labela ">男生</span>

        <div>
            <span class="oclockfont labela ">三天前</span>
            <span><img src="~/Content/image/o'clock.png" class="oclockimage labelb  " /></span>
        </div>

    </div>
    <div>
    </div>
</div>


