<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->

    <link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/css/Personalindex.css" rel="stylesheet" />
  
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <link href="~/Content/css/GuaGuoBootstrap.css" rel="stylesheet" />

    <script src="~/Content/js/jquery-2.2.2.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="~/Content/js/bootstrap.min.js"> </script>
</head>
<body>
  
        <div>
            <nav class="navbar  nabarcolor">
                <span>
                    <img src="~/Content/image/homee.png" />
               </span>
                <label class="PersonalCenter">麒</label><label class="PersonalCenter">的中心</label>
                
                <div class=" floatRight">
                    <a href="~/Homes/Home/index" class="btn btn-default active " role="button">主页</a>
                </div>
            </nav>
        </div> 
    <div class="divmaing">
      
        <ul class="personalcenter">
            <li class="personalcenter"><img src="~/Content/image/logo.jpg" class=" personalimage" /></li>
            <li class="personalcenter">
                <img src="~/Content/image/start.png" class="integrity" />
                <img src="~/Content/image/start.png" class="integrity" />
                <img src="~/Content/image/start.png" class="integrity" />
                <img src="~/Content/image/start.png" class="integrity" />
                <img src="~/Content/image/start.png" class="integrity" />
            </li>
        </ul>
        @*<div>
            <img src="~/Content/image/logo.jpg" class=" personalimage" />
            
                <img src="~/Content/image/start.png" class="integrity" />
                <img src="~/Content/image/start.png" class="integrity" />
           
        </div>*@
       <div class="Overlap">
            <div class="col-xs-3 Hyalinize a">信息</div>
            <div class="col-xs-3 Hyalinize a">发布</div>
            <div class="col-xs-3 Hyalinize a">申请</div>
            <div class="col-xs-3 Hyalinize">评价</div>
        </div>
    </div>
        @RenderBody()
   
</body>
</html>
