@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@model HandWork.Com.Model.Weixins.WeixinUser
<div><img src="@Model.headimgurl"/></div>
<div>@Model.country</div>
<div>@Model.nickname</div>