@{
    ViewBag.Title = "客服电话";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/js/bootstrap.js"></script>

<script>
    document.write("<a class=\"btn btn-default\"   href='");
    document.write("tel:18487184374'");
    document.write(">客服电话①：18487184374 太昔-小龙</a>");
    document.write("<br/>");
</script>

<script>
    document.write("<a class=\"btn btn-default\"    href='");
    document.write("tel:15198891463'");
    document.write(">客服电话②：15198891463 太昔-小翔</a>");
    document.write("<br/>");
</script>

<script>
    document.write("<a class=\"btn btn-default\"    href='");
    document.write("tel:13577128474'");
    document.write(">客服电话③：13577128474 太昔-小国</a>");
    document.write("<br/>");
</script>


