@{
    ViewBag.Title = "网页已迷路";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">该功能正在建设</h2>
        <h2 class="weui_msg_title">╮(╯_╰)╭</h2>
        <p class="weui_msg_desc">敬请期待！！！</p>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="~/Homes/Home/Index" class="weui_btn weui_btn_primary">返回主页</a>
        </p>
    </div>
</div>