@{
    ViewBag.Title = "MyAsk";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="jobList">


</div>
<div>
    <a href="~/Homes/Home/Index"><img src="~/Content/image/home.png" class="Float-Png" /></a>
</div>
<div class="dropload-down clickMore">没有更多了</div>
<script src="~/Content/js/myask.js"></script>