@{
    ViewBag.Title = "MyPublish";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="jobList">


</div>
<div class="dropload-down clickMore">没有更多了</div>

<script src="~/Content/js/mypublish.js"></script>