@{
    ViewBag.Title = "个人中心";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link href="~/Content/css/MyZoren.css" rel="stylesheet" />
@*轮转图片开始*@
<div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="active item">
          

                <img src="~/Content/image/adverta.jpg" class=" img-responsive" />

                </div>
            <div class="item">
                <img src="~/Content/image/advertb.jpg" class=" img-responsive" />
    
            </div>
            <div class="item">
                <img src="~/Content/image/advertc.jpg" class=" img-responsive" />

            </div>
        </div>

    </div>
</div>
@*轮转图片结束*@
@*星级区域开始*@
<div class="borderout">
    <div class="col-xs-6 ">
        <ul class="list-unstyled ">
            <li class="locationlileft"> 我的星级</li>
            <li class="locationli">
                <span class=" glyphicon glyphicon-star StartColor  StartHeartFont" aria-hidden="true"></span>
                <span class=" glyphicon glyphicon-star StartColor  StartHeartFont" aria-hidden="true"></span>
                <span class=" glyphicon glyphicon-star-empty StartHeartFont StartHeartColorB" aria-hidden="true"></span>
</li>
        </ul>
    </div>
    <div class="col-xs-6 certerborder">
        <ul class="list-unstyled">
            <li class="locationlileft">我的口碑</li>
            <li class="locationli">
                <span class=" glyphicon glyphicon-heart HeartColor StartHeartFont" aria-hidden="true"></span>
                <span class=" glyphicon glyphicon-heart HeartColor StartHeartFont" aria-hidden="true"></span>
                <span class=" glyphicon glyphicon-heart-empty StartHeartFont StartHeartColorB" aria-hidden="true"></span>
            </li>
        </ul>
    </div>
</div>
@*星级区域结束*@
<div>
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div class="fontpaddinga">消息提醒：(づ￣3￣)づ请完善信息哦</div>

    </div>
       
    </div>

@*跳转目录开始*@
    <div class="heightul">
    <ul class="list-unstyled">
        <li class="col-xs-6 borderulli leftLine">
            <img src="~/Content/image/users.png" class="pngstyle" />
            <a href="~/Users/User/Index" class="fontcolor">我的信息</a>
        </li>
        <li class="col-xs-6 borderulli">
            <img src="~/Content/image/approve.png" class="pngstyle " />
            <a href="~/Users/User/PhoneCheck" class="fontcolor">电话认证</a>
        </li>
        <li class="col-xs-6 borderulli leftLine">
            <img src="~/Content/image/work.png" class="pngstyle" />
            <a href="~/Users/User/Mistake" class="fontcolor">我的任务</a>
        </li>
        <li class="col-xs-6 borderulli">
            <img src="~/Content/image/message.png" class="pngstyle" />
            <a href="~/Users/User/Mistake" class="fontcolor">我的评论</a>
        </li>
        
        <li class="col-xs-6 borderulli leftLine">

            <img src="~/Content/image/publishh.png" class="pngstylea" />
            <a class="fontcolor" href="~/Users/User/MyPublish">我的发布</a>
        </li>

        <li class="col-xs-6 borderulli">
            <img src="~/Content/image/integral.png" class="pngstylea" />
            <a href="~/Users/User/Mistake" class="fontcolor">我的金额</a>
        </li>

        <li class="col-xs-6 borderulli leftLine">
            <img src="~/Content/image/collect.png" class="pngstylea" />
            <a href="~/Users/User/Mistake" class="fontcolor">我的收藏</a>
        </li>

        <li class="col-xs-6 borderulli">
            <img src="~/Content/image/work.png" class="pngstylea" />
            <a class="fontcolor" href="~/Users/User/MyAsk">我的申请</a>
        </li>
    </ul>
</div>


@*跳转目录结束*@
<div>
    <a href="~/Homes/Home/Index"><img src="~/Content/image/home.png" class="Float-Png" /></a>
</div>
@*<div class="bottomborder">
    返回主页
</div>*@