@{
    ViewBag.Title = "PhoneCheck";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@Html.GuaGuo_PhoneNumberCheck()
<div>
    <a href="~/Homes/Home/Index"><img src="~/Content/image/home.png" class="Float-Png" /></a>
    </div>
    @*<div>
            <span class="" >更多认证正在建设中哦(⊙o⊙)</span>
        </div>*@
