@{
    ViewBag.Title = "WeiXinMSG";
}

<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">申请失败</h2>
        <p class="weui_msg_desc">你必须先去完成手机验证啊</p>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="~/Users/user/index" class="weui_btn weui_btn_primary">去完善</a>
            <a href="#" class="weui_btn weui_btn_default">取消</a>
        </p>
    </div>

</div>